canvas {
    border:0.5px solid black;
    border-radius: 15%;
    cursor: url(../img/cursor.png), crosshair;
}
body {
    user-select: none;
}
.hello {
    border-radius:50px;
}
.circle {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
}