canvas {
    border:0.5px solid black;
    border-radius: 15%;
    cursor: url(../img/cursor.png), crosshair;
}
body {
    user-select: none;
}
.hello {
    border-radius:50px;
}
.innercircle {
    height: 16px;
    width: 16px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    left: 22px;
    top: 22px;
    cursor: ew-resize;
}
.outercircle {
    height: 60px;
    width: 60px;
    border: 3px solid grey;
    border-radius: 50%;
    display:block;
    top:600px;
    left:600px;
    position: absolute;
    cursor: ew-resize;
}